@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    font-family: times new roman;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre10 {
    display: block;
    font-family: times new roman;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 5%
    }
.calibre2 {
    display: block
    }
.calibre3 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 5%;
    margin-right: 1em;
    margin-top: 1em;
    width: 75%
    }
.calibre6 {
    display: block
    }
.calibre7 {
    color: inherit;
    cursor: inherit;
    line-height: 1.2;
    text-decoration: inherit
    }
.calibre8 {
    font-size: 0.75em
    }
.calibre9 {
    font-weight: bold
    }
.center {
    display: block;
    font-family: times new roman;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0%
    }
.chaptertitle {
    color: red;
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 16pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    text-align: center
    }
.follow {
    display: block;
    font-family: times new roman;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 5%
    }
.left {
    display: block;
    font-family: times new roman;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0%
    }
.workauthors {
    display: block;
    font-family: Times new roman;
    font-size: 1.375em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    text-align: center
    }
.worktitle {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }